html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

header {
    width: 100%;
    min-height: 625px;
}

.wave {
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(90deg, rgba(253,29,29,1)0%, rgba(252,176,69,1)100%);
}

/*.wave::before { //agregar imagen ola
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 216px;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
}*/

.navbar .nav-link {
    color: white;
    margin-right: 29px;
    transition: 0.2s;
}

a.navbar-brand:hover,
a.nav-link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.btn-custom {
    border: 1.5px solid #fff;
    border-radius: 50px;
    color: #fff;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6s;
}

.btn-custom:hover {
    background-color: white;
    border: 1.5px solid #fd3323;
    color: tomato;
}

.navbar-fixed {
    background-color: rgba(254,96,23,1);
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.bi-list {
    color: white;
    font-size: 1.6rem;
}

@media (max-width:992px) {
    .navbar-collapse{
        padding-bottom: 19px;
    }
    .wave {
        padding-top: 6rem;
    }
}

@media (max-width:768px) {
    .text-center-xs {
        text-align: center;
    }
    .text-center-xs img {
        width: 366px;
    }
}


section {
    padding: 82px 0;
}



.section-title{
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px;
    color: #fc562c;
}

.member {
    padding: 30px;
    border-radius: 5px;
    background: #f9f9fd;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fc562c;
}

.member span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}

.member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.member a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;
}

.member a:hover {
    background: #0061f2;
    color: white;
}

.member:hover {
    box-shadow: 0px 15px 30px rgb(77 87 222 / 100%);
    background: #fff;
}

.pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.icon-box {
    padding: 33px 25px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.icon-box:hover {
    box-shadow: 0px 15px 30px rgb(77 87 222 / 100%);
}

.icon i {
    color: #fcab44;
    font-size: 43px;
}

/*portafolio*/

.pi {
    cursor: pointer;
    list-style: none;
    margin: 10px 5px;
    font-weight: 500;
    color: #444444;
    transition: all 0.3s;
    padding: 5px 20px;
    border-radius: 50px;
}

.pi:hover,
.pi.filter-active {
    background: #fc562c;
    color: #fff;
}

.portafolio-info:hover {
    opacity: 1;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    background: rgba(252,103,19,0.9);
    padding: 10px 15px;;
}

.portafolio-info h3{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}
.portafolio-info p{
    color: #f9fcfe;
    font-size: 15px;
    margin-bottom: 0px;
}

.details-link {
    font-size: 30px;
    color: black;
    transition: 0.3s;
}

footer {
    border-top: 1px solid #7e7e7e;
    padding-top: 44px;
}

footer a{
    text-decoration: none;
    color: black;
}

.social:hover {
    background: chocolate;
    width: 35px;
    height: 35px;
    display: inline;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;      
}

.go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3px;
    right: 3px;
    width: 5%;
    height: 5%;
    background: #fc6731;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

